<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>
  <header id="header" class="none">
    <h1>Fast Feed</h1>
    <div class="intro">
      <p>Why have a regular news feed that just saves news stories when you can also edit them yourself? Have news your way!</p>
      <p>Choose your news feed on left hand side, then click on the title of a story to open it in a new window. If you want to add the story to one of your saved feeds, click the add button. Your story will be added to the bottom of the Saved Stories section. Then to make the story your own, click on the title of your saved story and add some extra pickles! </p>
    </div>
  </header><!-- /header -->

  <div id="left_column" class="col-md-2">
    <div id="description">
      <h3>News Feed</h3>
    </div>
    <div id="newsChoose">

<!--       <p>to be created</p>
      <select name="newsCategory">
        <% categories.forEach(category => { %>
          <option value="<%= category %>"><%= category %></option>
        <% }); %>
      </select>
      <button id="newsCategory" type="submit">Choose</button> <br><br> -->

      <select name="newsSource" id="newsSourceDrop">
        <% sources.forEach(source => { %>
          <option value="<%= source %>"><%= source %></option>
        <% }); %>
      </select>
      <button id="newsSource" type="submit">Select</button> <br><br>
    </div>
  </div>

  <div id="newsapi_column" class="col-md-5">
    <h3>News Stories</h3>
    <ul>
      <!-- News API Content-->
      Select your source on the left to replace me me with news!
    </ul>
  </div>

  <div id="snews_column" class="col-md-5">
    <h3>Saved Stories</h3>
    <ul>
      <% savedStories.forEach( story => { %>
      <li>
        <a href="/stories/<%= story.story_id %>">
          <strong><%= story.story_title %></strong></a><br>
          <%= story.story_desc %><button class="deleteNews" type="submit" data-story-id="<%= story.story_id %>">Delete</button>
      </li>
      <% }); %>

    </ul>
  </div>
</body>
</html>
