<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>
  <header id="header" class="none">
    <h1>Hello News World</h1>
  </header><!-- /header -->

  <div id="left_column" class="col-md-2">
    <div id="description">
      <h3>News Feed</h3>
    </div>
    <div id="newsChoose">

<!--       <p>to be created</p>
      <select name="newsCategory">
        <% categories.forEach(category => { %>
          <option value="<%= category %>"><%= category %></option>
        <% }); %>
      </select>
      <button id="newsCategory" type="submit">Choose</button> <br><br> -->

      <select name="newsSource" id="newsSourceDrop">
        <% sources.forEach(source => { %>
          <option value="<%= source %>"><%= source %></option>
        <% }); %>
      </select>
      <button id="newsSource" type="submit">Select</button> <br><br>
    </div>
  </div>

  <div id="newsapi_column" class="col-md-5">
    <h3>News Stories</h3>
    <ul>
      <!-- News API Content-->
      Select your source on the left to replace me me with news!
    </ul>
  </div>

  <div id="snews_column" class="col-md-5">
    <h3>Saved Stories</h3>
    <ul>
      <% savedStories.forEach( story => { %>
      <li>
        <a href="/stories/<%= story.story_id %>">
          <strong><%= story.story_title %></strong><br>
          <%= story.story_desc %>
        </a>
      </li>
      <% }); %>

    </ul>
  </div>
</body>
</html>
